<!DOCTYPE html>
<html lang="ro">

    <head>
        <meta name="description" content="Site agentie turistica">
        <meta name="key-words" content="Agentie turistica, vacanta, sejur">
   
        <title>Air Travel</title>
        <%-include("../fragmente/head.ejs")%>
    </head>
    
    <body>

        <%- include("../fragmente/header.ejs") %>        
        <main>
            <div id="grid-pagina">
                <!--Et1.6-->
                    <div>    
                        <section id="about-us">
                            <!--Et1.10.b-->
                            <h2><i>About us</i></h2>
                            <section>
                                <article>
                                    <p><b>Lorem ipsum</b></p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    <br>Donec ultrices tincidunt arcu non sodales neque sodales ut etiam.
                                    Eget arcu dictum varius duis at consectetur lorem donec.
                                </article>
                            </section>
                        </section>
                    </div>
                    <!--Et1.7-->
                    <section id="galerie_statica">
                        <h2>Galery</h2>
                        <div id="grid-galerie">

                            <% for (let imag of locals.imagini) { 
                                var d = new Date();
                                var v_luni = ["ianuarie", "februarie", "martie", "aprilie", "mai", "iunie", "iulie","august", "septembrie","octombrie","noiembrie","decembrie"]
                                var luna_r = v_luni[d.getMonth()]
                                
                                if (imag.luni && imag.luni.includes(luna_r)) { %>
                                    <figure>
                                        <picture>
                                            <source srcset="<%-imag.cale_fisier_mediu %>" media="(max-width:1200px)"/>
                                            <source srcset="<%-imag.cale_fisier_mic %>" media="(max-width:750px)"/>  
                                            <img src="<%- imag.cale_fisier %>" alt="<%- imag.alt %>">
                                        </picture>
                                        <figcaption><%- imag.text_descriere %></figcaption>
                                    </figure>
                                <% } %>
                            <% } %>
                        </div>

                    
                    </section>
                    <!--Et1.11.c-->
                    <div id="how-to">
                        <h2>How to section</h2>
                        <!-- <div class="iframe-tabs">
                            <a class="button" target="ifr-vid" href="https://www.youtube.com/embed/qDZ1DpKvRe0" role="button">Booking flights</a>
                            <a class="button" target="ifr-vid"  href="https://www.youtube.com/embed/YnjGt8YVJxU" role="button">Booking hotels</a>
                        
                            <iframe name="ifr-vid" id="ifr-vid" width="560" height="315" src="https://www.youtube.com/embed/qDZ1DpKvRe0"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>  -->
                        <div class = "flexbox">
    
    
    
                            <div class = "inline">
                                <div class = "rectangle_link">
                                
                                    <a class = "ylink" target = "myiframe" href = "https://www.youtube.com/embed/qDZ1DpKvRe0" role="button">Primul video</a>
                                </div>
                                <div class="rectangle_link">
                                    <a class = "ylink" target = "myiframe" href = "https://www.youtube.com/embed/YnjGt8YVJxU" role="button">Al doilea video</a>
                                </div>
                            </div>
                            <div class = "iframe">
            
                                <iframe name = "myiframe" id="ifr-vid" width="560" height="315" src="https://www.youtube.com/embed/qDZ1DpKvRe0"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
                            </div>
                        </div>
    
    
    
    
    
    
    
    
                    </div>
                    
                    <!--Et1.8-->
                    <div id="fig1">
                        <figure>
                            <picture>
                                    <source srcset="resurse/imagini/vietnam-rez-mica1.jpg" media="(max-width: 700px)" />
                                    <source srcset="resurse/imagini/vietnam-rez-medie.jpg" media="(max-width: 1200px)" />
                                    <img src="./resurse/imagini/vietnam-rez-mare.jpg" alt="peisaj exotic" />
                                    
                            </picture>
                            <figcaption style="text-align:center">Vietnam</figcaption>
                        </figure>
    
                    </div>
    
                    <!--Et1.12-->
                    <div id="informatii-utile">
                        <h2>Informatii utile</h2>
                        <details>
                            <summary>About Check-in</summary>
                            <p>Airport check-in is the process whereby an airline approves airplane passengers to board an airplane for a flight.
                                <br> Airlines typically use service counters found at airports for this process, and the check-in is normally handled by an airline itself or a handling agent working on behalf of an airline.</p>
                        </details>
    
                        <details>        
                            <summary>About Check-out</summary>
                            <p>Once you have your boarding pass, look for the signs for departure gates. This will take you through Security and, if necessary, outbound Passport Control.
                                <br>Look for the screens showing outbound flights and their gates, and go to the correct gate. On arrival, follow the signs for luggage collection and exit.</p>
                        </details>
                        <details>
                            <summary>What can you bring in the plane</summary> 
                            <ol>
                                <li>Small tools</li>
                                <li>Matches and lighters</li>
                                <li>Batteries</li>
                                <li>Knitting needles</li>
                                <li>Gifts</li>
                                <li>Electronics</li>
                                <li>Medication and medical equipment(only in special cases)</li>
                            </ol>
                        </details>
                        <details>
                            <summary>What you can't do in a plane</summary>
                            <ol>
                                <li>Interfere with the flight crew performing its dutties</li>
                                <li>Threaten the flight crew</li>
                                <li>Smoke</li>
                                <li>use two-way pagers</li>
                                <li>Consume alcohol unless provided by a flight attendant</li>
                                <li>Make mobile phone calls</li>
                            </ol>
                        </details>
                    </div>
    
                    <div id="sectiune-galerie-animata">
                        <% for (let imag of locals.imagini) { 
                             %>
                                <figure>
                                     <picture>
                                         <source srcset="<%- imag.fisier_mediu %>" media="(max-width:1200px)" />
                                         <img src="<%- imag.fisier %>" alt="imagine">
                                     </picture>
                                     <figcaption><%- imag.descriere %></figcaption>
                                </figure>
                        <% }  %>
                    </div>
    
                    <div id="tabel">
                        <div class="scroll">
                            <table>
                                <thead>
                                
                                    <tr>
                                        <th>Luni</th>
                                        <th>Marti</th>
                                        <th>Miercuri</th>
                                        <th>Joi</th>
                                        <th>Vineri</th>
                                        <th>Sambata & Duminica</th>
                                    </tr>
                                  
                                </thead>    
                                
                                    <tr>
                                        <td>Peter</td>
                                        <td>Peter</td>
                                        <td>Peter</td>
                                        <td>Peter</td>
                                        <td>Peter</td>
                                    
                            
                                        
                                    </tr>
                                    <tr>
                                        <td>Lois</td>
                                        <td>Griffin</td>
                                        <td>Peter</td>
                                        <td>Peter</td>
                                        <td></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>luni</td>
                                        <td>marti</td>
                                        <td>Peter</td>
                                        <td>Peter</td>
                                        <td></td>
                                    
                                        
                                    </tr>
                                    <tr>
                                        <td>Peter</td>
                                        <td>Peter</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Peter</td>
                                        <td>Peter</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
    
                                    </tr>
                            
                            </table>
                        </div>
                    </div>
    
                    <div id="ceva">
                        <dl>
                            <dt><!--Et1.10.a--><b>Economy Class</b></dt>
                            <dd>This is the <!--Et1.10.d--><em>cheapest fare class</em> on scheduled airlines. Although paying less for the plane ticket, passengers can expect to find the same in-flight comfort as passengers in other classes: adjustable seats, legroom, table on board, etc.
                                The meal on board is adjusted according to the duration and period of the flight: frugal breakfast, lunch, snack, dinner. Passengers are served drinks (coffee, tea, etc.) and can request various devices designed to make their flight more pleasant: head pillows, headphones, tissues, etc.
                                During long flights, airline companies often provide entertainment on board: movies, music, various video programs.</dd>
                            <dt><!--Et1.10.a--><b>Business class</b></dt>
                            <dd>Business class is the <!--Et1.10.d--><em>best solution</em> for passengers who want more comfort during flights and who are willing to pay more for additional services. It is offered by most scheduled airlines and, among other things, means:<ul>
                                <li>comfortable cabins</li>
                                <li>ergonomic seats with more legroom</li>
                            </ul></dd>
                            <dt><!--Et1.10.a--><b>First class</b></dt>
                            <dd>This is the <!--Et1.10.d--><em>highest fare class</em>, passengers traveling in First Class benefit from exclusive services and increased comfort during flights.
                                The chairs are extremely comfortable, equipped with various functions, can be turned into beds, and the tables are available on request and consist of dishes prepared by famous chefs. In comparison, economy class meals are frugal and standardized.
                                At the airport, First Class passengers have access to modern lounges where they can relax away from the hustle and bustle of the terminal.</dd>
                            
                        </dl>
    
                    </div>
                </div>
                
           
        </main>

        <%- include("../fragmente/footer.ejs") %> 
    </body>
</html>